h5{
    color: rgb(255, 115, 0);
    background-color: rgb(185, 127, 255);
    text-align:center;
}
h1
{ 
    font-weight:900;
    font-family:coperplate didot sans-serif;
    font-size: 30px;
    text-decoration: blue solid underline;
    background-image:"C:\Users\nikhi\OneDrive\Desktop\DSC09789.JPG";
    color: black;
text-align:center;
background-color: aqua;
}
form{
    text-align: center;
}
div{
    text-align: center;
 border-style: solid;
}

button{
    text-decoration: pink line-through;
    background-color: green;
    color: aliceblue;
    text-align:initial
}
a{
    text-decoration: none;
}
p{
    font-size: 10px;

}